[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hs-test-python = {file = "https://github.com/hyperskill/hs-test-python/archive/release.tar.gz"}
numpy = "*"
pygame = "*"

[dev-packages]

[requires]
python_version = ">=3.9"
